@using Profile.Models.Database
@using Profile.ViewModels.AdminGroup
@model CreateViewModel

@{
    ViewBag.Title = "Create Group";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div class="form-wrapper">
        <section class="form-section-label">
            @Html.LabelFor(m => m.Group.Name, new { @class = "form-label" })
            @Html.LabelFor(m => m.Group.CreationDate, new { @class = "form-label" })
            @Html.LabelFor(m => m.Group.CountMembers, new { @class = "form-label" })
            @Html.LabelFor(m => m.Group.Rank, new { @class = "form-label" })
            @Html.LabelFor(m => m.Group.ImagePath, new { @class = "form-label" })
        </section>
        <section class="form-section-input">
            @Html.EditorFor(s => s.Group.Name, new { htmlAttributes = new { @class = "form-input" } })
            @Html.EditorFor(s => s.Group.CreationDate, new { htmlAttributes = new { @class = "form-input" } })
            @Html.EditorFor(s => s.Group.CountMembers, new { htmlAttributes = new { @class = "form-input" } })
            @Html.DropDownListFor(s => s.Group.Rank, new SelectList(Enum.GetNames(typeof(Rank))), new { @class = "form-input" })
            @Html.EditorFor(s => s.Group.Karma, new { htmlAttributes = new { @class = "form-input" } })
        </section>
    </div>
    <input class="button" type="submit" value="Create" />
}





