@using Profile.Models.Database;
@using Profile.ViewModels.Admin.Groups
@model ViewModel_CreateOrEditGroup

@{
    ViewBag.Title = "Create Group";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="header action-header ">
    Create group
</div>

<div class="form-wrapper">
    @Html.ValidationSummary()
    @using (Html.BeginForm("Create", "AdminGroup", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-line">
            <div class="form-line-box-left">
                @Html.LabelFor(m => m.group.Name, new { @class = "form-line-box-left-label" })
            </div>
            <div class="form-line-box-right">
                @Html.EditorFor(s => s.group.Name, new { htmlAttributes = new { @class = "form-line-box-right-input" } })
            </div>
        </div>
        <div class="form-line-empty">
            <div class="form-line-box-left"> 
            </div>
            <div class="form-line-box-right">
                @Html.ValidationMessageFor(m => m.group.Name)
            </div>
        </div>
        <div class="form-line">
            <div class="form-line-box-left">
                @Html.LabelFor(m => m.group.CountMembers, new { @class = "form-line-box-left-label" })
            </div>
            <div class="form-line-box-right">
                @Html.EditorFor(s => s.group.CountMembers, new { htmlAttributes = new { @class = "form-line-box-right-input" } })
            </div>
        </div>
        <div class="form-line-empty">
            <div class="form-line-box-left">
            </div>
            <div class="form-line-box-right">
                @Html.ValidationMessageFor(m => m.group.CountMembers)
            </div>
        </div>
        <div class="form-line">
            <div class="form-line-box-left">
                @Html.LabelFor(m => m.group.Karma, new { @class = "form-line-box-left-label" })
            </div>
            <div class="form-line-box-right">
                @Html.EditorFor(s => s.group.Karma, new { htmlAttributes = new { @class = "form-line-box-right-input" } })
            </div>
        </div>
        <div class="form-line-empty">
            <div class="form-line-box-left">
            </div>
            <div class="form-line-box-right">
                @Html.ValidationMessageFor(m => m.group.Karma)
            </div>
        </div>
        <div class="form-line">
            <div class="form-line-box-left">
                @Html.LabelFor(m => m.group.Rank, new { @class = "form-line-box-left-label" })
            </div>
            <div class="form-line-box-right">
                @Html.DropDownListFor(s => s.group.Rank, new SelectList(Enum.GetNames(typeof(Rank))), new { @class = "form-line-box-right-input" })
            </div>
        </div>
        <div class="form-line-empty">
            <div class="form-line-box-left">
            </div>
            <div class="form-line-box-right">
                @Html.ValidationMessageFor(m => m.group.Rank)
            </div>
        </div>
        <div class="form-line">
            <div class="form-line-box-left">
                @Html.LabelFor(m => m.image, new { @class = "form-line-box-left-label" })
            </div>
            <div class="form-line-box-right">
                <input type="file" name="image" accept="image/*"/>
            </div>
        </div>
        <div class="form-line-empty">
            <div class="form-line-box-left">
            </div>
            <div class="form-line-box-right">
                @Html.ValidationMessageFor(m => m.image)
            </div>
        </div>
        <div class="form-line">
            <div class="form-line-box">
                <input class="button button-form " type="submit" value="Create" />
                @Html.ActionLink("Cancle", "Index", null, new { @class = "button button-link" });
            </div>
        </div>
    }
    
</div>







