@model Profile.ViewModels.AdminGroup.CreateViewModel

@{
    ViewBag.Title = "Create Group";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div class="table-wrapper">
        <table class="table-full">
            <thead class="table-head">
                <tr>
                    <th class="table-column-1">Name</th>
                    <th class="table-column-2">Creation date</th>
                    <th class="table-column-3">Members count</th>
                    <th class="table-column-4">Rank</th>
                    <th class="table-column-5">Karma</th>
                    <th>Avatar</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr>
                    <td class="table-column-1">@Html.EditorFor(s => s.Group.Name) </td>
                    <td class="table-column-2">@Html.EditorFor(s => s.Group.CreationDate) </td>
                    <td class="table-column-3">@Html.EditorFor(s => s.Group.CountMembers)</td>
                    <td class="table-column-4">@Html.EnumDropDownListFor(s => s.Group.Rank, new { @class = "table-cell-enum" })</td>
                    <td class="table-column-5">@Html.EditorFor(s => s.Group.Karma) </td>
                    <td><img /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <input class="button" type="submit" value="Create" />
}

