@using Profile.Models.Database
@model List<Group>

@{
    ViewBag.Title = "Groups list";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header list-header ">
    Groups list
</div>

<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th class="table-column-1">Name</th>
                <th class="table-column-2">Creation date</th>
                <th class="table-column-3">Members count</th>
                <th class="table-column-4">Rank</th>
                <th class="table-column-5">Karma</th>
                <th class="table-column-6">Avatar</th>
                <th class="table-column-7"></th>
                <th class="table-column-8"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(d => line.Name)</td>
                    <td>@Html.DisplayFor(d => line.CreationDate)</td>
                    <td class="table-column-3">@Html.DisplayFor(d => line.CountMembers)</td>
                    <td>@Html.DisplayFor(d => line.Rank)  </td>
                    <td>@Html.DisplayFor(d => line.Karma) </td>
                    <td><img src="@Url.Content(line.ImagePath)" width="150" height="150"/></td>
                    <td>
                        @using (Html.BeginForm("Edit"))
                        {
                            @Html.Hidden("Id", line.GroupId)
                            <input class="button-table button-table-create" type="submit" value="Modify" />
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete"))
                        {
                            @Html.Hidden("Id", line.GroupId)
                            <input class="button-table button-table-delete" type="submit" value="Delete" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    

</div>

<div>
    @Html.ActionLink("Create Group", "Create", null, new { @class = "button button-link" })
</div>

